body {
	 margin: 0;
	 padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	min-height: 100%;
	display: grid;
	grid-template: 1fr auto / 66ch;
	justify-content: center;
}

form * {
	display: block;
	margin-bottom: 0.5em;
}

form {
	margin-bottom: 1.5em;
}

textarea {
	width: 100%;
	padding 0;
}

.token {
	text-decoration-thickness: 2px !important;
}

.word1 {
	text-decoration: underline DarkOrchid;
}

.word2 {
	text-decoration: underline wavy DarkOrchid;
}

.period {
	text-decoration: underline black;
}

.verb {
	text-decoration: underline RoyalBlue;
}

.verb_neg {
	text-decoration: underline wavy RoyalBlue;
}

.verb_past {
	text-decoration: underline dotted RoyalBlue;
}

.verb_past_neg {
	text-decoration: underline double RoyalBlue;
}

.is {
	text-decoration: underline Sienna;
}

.was {
	text-decoration: underline dotted Sienna;
}

.object {
	text-decoration: underline double green;
}

.subject {
	text-decoration: underline green;
}

.destination {
	text-decoration: underline dotted green;
}

.pronoun {
	text-decoration: underline GoldenRod;
}

.connector {
	text-decoration: underline HotPink;
}

/* nothing should have this class */
.eofm {
	color: blue;
}

.error {
	color: red;
}

svg {
	width: 100%;
	height: auto;
}

.container > footer {
	margin-top: 1em;
	border-top: 1px solid gray;
}

#repo-link {
	display: flex;
	align-items: center;
}

#repo-link img {
	height: 3em;
}
